[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=amir
Group=amir

WorkingDirectory=/home/amir/bot/


Environment="PYTHONPATH=/home/amir/bot/"


ExecStart=/home/amir/bot/.venv/bin/python /home/amir/bot/BOT.py

[Install]
WantedBy=multi-user.target
